/* ----------------------------------------*/
/* Variables */
/* ----------------------------------------*/
:root {
  --background-color: #fafafa;
  --primary-text-color: #555;
  --light-text-color: #fff;
  --highlight-color: #e67e22;
  --highlight-dark-color: #a15512;
  --image-overlay-color: rgba(0, 0, 0, 0.7);
}

/* ----------------------------------------*/
/* Resets */
/* ----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}


/* ----------------------------------------*/
/* Global */
/* ----------------------------------------*/
.container {
  max-width: 1140px;
  margin: auto;
}

.box {
  padding: 1%;
}

section {
  padding: 4rem;
}

/* Headings */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1,
h2 {
  letter-spacing: 1px;
}

h1 {
  margin: 0 0 1rem 0;
  color: var(--light-text-color);
  font-size: 2.4rem;
  word-spacing: 4px;
}

h2 {
  margin: 0 0 1.5rem 0;
  font-size: 1.8rem;
  word-spacing: 2px;
  text-align: center;
}

h2:after {
  display: block;
  height: 2px;
  width: 100px;
  margin: 1.5rem auto 0 auto;
  background-color: var(--highlight-color);
  content: " ";
}

h3 {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

/* Paragraphs */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin: 0 15%;
}

.box p {
  font-size: 0.9rem;
  line-height: 145%;
}

/* Buttons */
.button:link,
.button:visited {
  display: inline-block;
  border: 1px solid var(--highlight-color);
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  transition: 0.5s;
}

.button-full:link,
.button-full:visited {
  margin-right: 15px;
  background-color: var(--highlight-color);
  color: var(--light-text-color);
}

.button-ghost:link,
.button-ghost:visited {
  color: var(--highlight-color);
}

.button:hover,
.button:active {
  border: 1px solid var(--highlight-dark-color);
  background-color: var(--highlight-dark-color);
}

.button-full:hover,
.button-full:active {
  background-color: var(--highlight-dark-color);
}

.button-ghost:hover,
.button-ghost:active {
  background-color: var(--highlight-dark-color);
  color: var(--light-text-color);
}

/* Icons */
.icon-big {
  display: block;
  font-size: 3rem;
  color: var(--highlight-color);
  margin-bottom: 0.5rem;
  text-align: center;
}


/* ----------------------------------------*/
/* Header Section */
/* ----------------------------------------*/
header .top-bar img#logo {
  height: 100px;
  width: auto;
  float: left;
  margin: 20px 0 0 20px;
}

header .top-bar nav.main-nav {
  float: right;
  margin-right: 20px;
}

header .top-bar nav.main-nav ul {
  margin-top: 55px;
  list-style: none;
}

header .top-bar nav.main-nav li {
  display: inline;
  margin-left: 20px;
}

header .top-bar nav.main-nav li a:link,
header .top-bar nav.main-nav li a:visited {
  padding-bottom: 15px;
  border-bottom: 2px solid transparent;
  color: var(--light-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: 0.5s;
}

header .top-bar nav.main-nav li a:hover,
header .top-bar nav.main-nav li a:active {
  border-bottom: 2px solid var(--highlight-color);
}

header {
  background-image:
    linear-gradient(var(--image-overlay-color), var(--image-overlay-color)),
    url(/resources/css/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

header .hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* ----------------------------------------*/
/* Meals Section */
/* ----------------------------------------*/
