/* ----------------------------------------*/
/* Variables */
/* ----------------------------------------*/
:root {
  --background-color: #fafafa;
  --background-color-light: #f3f3f3;
  --background-color-gray: #333;
  --background-color-dark: #e9e9e9;
  --primary-text-color: #555;
  --primary-text-color-gray: #888;
  --light-text-color: #fff;
  --highlight-color: #e67e22;
  --highlight-dark-color: #cf6d17;
  --highlight-color-gray: #ccc;
  --image-overlay-color: rgba(0, 0, 0, 0.7);
  --box-shadow: 0.125rem 0.125rem 0.25rem rgba(85, 85, 85, 0.1);
}

/* ----------------------------------------*/
/* Resets */
/* ----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}


/* ----------------------------------------*/
/* Global */
/* ----------------------------------------*/
.container {
  max-width: 1140px;
  margin: auto;
  overflow: hidden;
}

.box {
  padding: 1%;
}

section {
  padding: 4rem 0;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* Headings */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1,
h2 {
  letter-spacing: 1px;
}

h1 {
  margin: 0 0 1rem 0;
  color: var(--light-text-color);
  font-size: 2.4rem;
  word-spacing: 4px;
}

h2 {
  margin: 0 0 1.5rem 0;
  font-size: 1.8rem;
  word-spacing: 2px;
  text-align: center;
}

h2:after {
  display: block;
  height: 2px;
  width: 100px;
  margin: 1.5rem auto 0 auto;
  background-color: var(--highlight-color);
  content: " ";
}

h3 {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

/* Paragraphs */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin: 0 15%;
}

.box p {
  font-size: 0.9rem;
  line-height: 145%;
}

/* Buttons */
.button:link,
.button:visited,
input[type=submit] {
  display: inline-block;
  border: 1px solid var(--highlight-color);
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-full:link,
.button-full:visited,
input[type=submit] {
  margin-right: 15px;
  background-color: var(--highlight-color);
  color: var(--light-text-color);
}

.button-ghost:link,
.button-ghost:visited {
  color: var(--highlight-color);
}

.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active {
  border: 1px solid var(--highlight-dark-color);
  background-color: var(--highlight-dark-color);
}

.button-full:hover,
.button-full:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: var(--highlight-dark-color);
  cursor: pointer;
}

.button-ghost:hover,
.button-ghost:active {
  background-color: var(--highlight-dark-color);
  color: var(--light-text-color);
}

/* Icons */
.icon-big {
  display: block;
  font-size: 3rem;
  color: var(--highlight-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.icon-small {
  display: inline-block;
  width: 1.5rem;
  font-size: 1.2rem;
  color: var(--highlight-color);
  text-align: center;
  margin-right: 0.5rem;
  /* Align icon to the middle of the container line */
  line-height: 1.2rem;
  vertical-align: middle;
  margin-top: -0.25rem;
}



/* ----------------------------------------*/
/* Header Section */
/* ----------------------------------------*/
header .top-bar img#logo {
  height: 100px;
  width: auto;
  float: left;
  margin: 20px 0 0 20px;
}

header .top-bar nav.main-nav {
  float: right;
  margin-right: 20px;
}

header .top-bar nav.main-nav ul {
  margin-top: 55px;
  list-style: none;
}

header .top-bar nav.main-nav li {
  display: inline;
  margin-left: 20px;
}

header .top-bar nav.main-nav li a:link,
header .top-bar nav.main-nav li a:visited {
  padding-bottom: 15px;
  border-bottom: 2px solid transparent;
  color: var(--light-text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .top-bar nav.main-nav li a:hover,
header .top-bar nav.main-nav li a:active {
  border-bottom: 2px solid var(--highlight-color);
}

header {
  background-image:
    -webkit-gradient(linear, left top, left bottom, from(var(--image-overlay-color)), to(var(--image-overlay-color))),
    url(/resources/css/img/hero.jpg);
  background-image:
    linear-gradient(var(--image-overlay-color), var(--image-overlay-color)),
    url(/resources/css/img/hero.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

header .hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



/* ----------------------------------------*/
/* Features Section */
/* ----------------------------------------*/
.section-features .long-copy {
  margin-bottom: 1.5rem;
}


/* ----------------------------------------*/
/* Meals Section */
/* ----------------------------------------*/
section.section-meals {
  clear: both;
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

.meal-photo img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.meal-photo img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}



/* ----------------------------------------*/
/* Wow It Works Section */
/* ----------------------------------------*/
section.section-steps {
  background-color: var(--background-color-dark);
}

.steps-box-image {
  margin: 1.5rem 0 0 0;
  padding-right: 3%;
  text-align: right;
}

.app-screen {
  width: 50%;
}

.steps-box-steps {
  margin: 4rem 0 0 0;
  padding-left: 3%;
}

.works-step {
  margin-bottom: 2.5rem;
}

.works-step:last-of-type {
  margin-bottom: 4rem;
}

.works-step div {
  float: left;
  border: 1px solid var(--highlight-color);
  border-radius: 50%;
  padding: 0.25rem;
  color: var(--highlight-color);
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  margin-right: 1.25rem;
}

.button-app img {
  margin-right: 0.5rem;
  height: 2rem;
  width: auto;
}



/* ----------------------------------------*/
/* Cities Section */
/* ----------------------------------------*/
img.section-cities-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.75rem;
}

div.city-feature p {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

div.city-feature p a:link,
div.city-feature p a:visited {
  color: var(--highlight-color);
  text-decoration: none;
  border-bottom: 1px solid var(--highlight-color);
  padding: 0.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

div.city-feature p a:hover,
div.city-feature p a:active {
  color: var(--primary-text-color);
  border-bottom: 1px solid transparent;
}



/* ----------------------------------------*/
/* Testimonials Section */
/* ----------------------------------------*/
.section-testimonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--image-overlay-color)), to(var(--image-overlay-color))), url(/resources/css/img/back-customers.jpg);
  background-image: linear-gradient(var(--image-overlay-color), var(--image-overlay-color)), url(/resources/css/img/back-customers.jpg);
  background-size: cover;
  color: var(--light-text-color);
  background-attachment: fixed;
}

blockquote {
  padding: 1.25rem 0.75rem 0;
  font-style: italic;
  line-height: 145%;
  position: relative;
}

blockquote:before {
  content: "\201C";
  display: block;
  font-size: 5rem;
  position: absolute;
  top: 1rem;
  left: -0.25rem;
}

blockquote cite {
  display: block;
  font-size: 0.8rem;
  margin-top: 2rem;
}

blockquote cite img {
  height: 2.25rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
}



/* ----------------------------------------*/
/* Plans Section */
/* ----------------------------------------*/
.section-plans {
  background-color: var(--background-color-dark);
}

.plan-box {
  width: 90%;
  margin: 0 5%;
  border-radius: 0.5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: var(--background-color);
}

.plan-box div {
  padding: 0.75rem;
}

.plan-box div:first-child {
  border-bottom: 1px solid var(--background-color-dark);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--background-color-light);
}

.plan-price {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--highlight-color);
  font-weight: 100;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 0.25rem 0;
}

.plan-box div:last-child {
  padding-top: 0;
  text-align: center;
  border: 0;
}



/* ----------------------------------------*/
/* Form Section */
/* ----------------------------------------*/
*:focus {
  outline: none
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 0.35rem;
  border-radius: 5px;
  border: 1px solid var(--highlight-color-gray);
}

textarea {
  height: 6rem;
}

input[type=checkbox] {
  margin: 0.5rem 0.25rem 0.5rem 0;
}



/* ----------------------------------------*/
/* Footer Section */
/* ----------------------------------------*/
footer {
  background-color: var(--background-color-gray);
  padding: 1rem 2rem;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  float: right;
  list-style: none;
  font-size: 1.2rem;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 1rem;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link,
.social-links a:visited {
  border: 0;
  color: var(--primary-text-color-gray);
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: var(--light-text-color);
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #1da1f2;
}

.ion-social-googleplus:hover {
  color: #db4437;
}

.ion-social-instagram:hover {
  color: #c32aa3;
}

footer p {
  text-align: center;
  margin-top: 0.5rem;
  color: var(--primary-text-color-gray);
  font-size: 0.7rem;
}